spring:
  datasource:
    url: jdbc:mysql://localhost:3306/elektroniczny_dziekanat
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: mysql
    database-platform: org.hibernate.dialect.MySQL8Dialect
application:
  security:
    jwt:
      secret-key: 4bb6a6dfbafb64a681239d1586b6f1160b18159afd57c8c79136d7490630401d
      access-token-expiration: 86400000
      refresh-token-expiration: 604800000
